# Dependency directories
node_modules/
bower_components/

# Production build directories
dist/
build/
.next/

# Miscellaneous
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

